* {
  margin: 0;
  padding: 0;
}

.weather {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background: #3586ff;
  overflow: hidden;
}

.weather__search {
  margin-bottom: 20px;
}

.weather__search-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: none;
  width: 360px;
  color: #ffffff;
}

.weather__search-input::placeholder {
  color: #ffffff;
}

.weather__search-input:focus {
  outline: none;
}

.weather__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 40px;
  color: #ffffff;
  width: 300px;
}

.weather__container-top {
  text-align: center;
  margin-bottom: 20px;
}

.weather__container-top-location p {
  font-size: 24px;
  font-weight: bold;
}

.weather__container-top-temp h1 {
  font-size: 48px;
  margin: 10px 0;
}

.weather__container-top-description p {
  font-size: 18px;
}

.weather__container-bottom {
  display: flex;
  justify-content: space-around;
}

.weather__container-bottom div {
  text-align: center;
  padding: 10px;
}

.bold {
  font-weight: bold;
}

.air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}

.air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes wave {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -1000px;
  }
}